MNEMONIC=test test test test test test test test test test test junk
COINMARKETCAP_API_KEY=
REPORT_GAS=
INFURA_API_KEY=addkeyhere
PRIVATE_KEY=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80