{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": true,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "never"
      }
    }
  ]
}
